.error {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%)
}

.h {
  font-size: calc(17vw + 40px);
}

.p1 {
  font-size: 20px;
  font-weight: bold;
  color:blanchedalmond
}


.topleft{
  position: absolute;
  top: 8px;
  left: 16px;
}

.top{
  position: absolute;
  top: 10px;
  right: 120px;
}

.topright {
 margin-left: 480px;

}

.add{
  border-radius: 15px 50px 30px;
  border: 2px solid #85bb25;
  padding: 20px; 
  width: 400px;
  height: 15px; 
  margin-top: 10px;   
  margin-bottom: 20px;  
}

.search { 
  position: relative; 
  margin: 0 auto ;
  text-align: center;
}

.tourne {
  -webkit-transform:rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.item1 { grid-area: header;width: 1005px ;min-height: 100px;}
.item2 { grid-area: menu;width: 306px ;min-height: 525px;}
.item3 { grid-area: main;position: relative;}
.item4 { grid-area: logo; min-height: 100px;}

.grid-container {
  min-height:840px;
  width: 1924px;
  display: grid;
  grid-template-areas:
    'logo header header header header header'
    'menu main main main main main';
  background-color: #14201e;
  margin-left: -320px;
  padding-left: 310px;
  padding-top: 110px;

  
}


.grid-c {
  display: grid;
  min-height: 625px;
  width: 1311px;
  grid-template-areas:
    'logo header header header header header'
    'menu main main main main main';
  
}



.grid-container > div {
  
  padding: 20px 0;
  font-size: 30px;

}

.login {
  width: 100%;
  min-height: 60vh;
  display: flex;
  margin-top: 100px;
  margin-bottom: 172px;
}

.loginContainer1 {
  position: relative;
  left: 30%;
  margin-top: auto;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  border-radius: 15px 0px 0px 15px;
}



.login .loginContainer {
  
  border-radius: 0px 15px 15px 0px;
  position: relative;
  left: 30%;
  padding: 50px;
  margin-top: auto;
  width: 100%;
  max-width: 550px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    #14201e 0%,
    #14201e 59%,
    #14201e 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 15px 0;
  display: block;
  font-size: 25px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  min-width:100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
}



.redresult {
  background: #ffa366	;
  margin: 10px;
  padding: 10px;
}

.blueresult {
  background: #e6e6e6	;
  margin: 10px;
  padding: 10px;
}

.greenresult {
  background: #85bb25;
  margin: 10px;
  padding: 10px;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  min-height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}



.modalBackground {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroller {
  margin: 0 auto;
  width: 1450px;
  height: 850px;
  overflow: auto;
}

.modalBackground1 {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.modalContainer1 {
  width: 1500px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: 800px;
  
}

.modalContainer2 {
  min-width: 900px;
  min-height: 600px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer {
  min-width: 500px;
  min-height: 400px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color:#85bb25
}

.title {
  display: inline-block;
  font-size: 50px;
  text-align: center;
  color:#85bb25
}


.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  min-width: 150px;
  min-height: 45px;
  margin: 10px;
  border: none;
  background-color: #85bb25;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}


.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}


.global {
  margin-left: 100;
  padding-left: 30%
}
.err{
  font-size: 15px;
  color: red; 
}

.select {
  font-size: .9rem;
  padding: 2px 5px;
}

.c{
  display: flex;
  margin-top: 10px;
}
.others{
  position: relative;
  flex:4;
  
}

.col{
  background-color: whitesmoke;
  
}

.link{
  text-decoration: none;
  color: inherit;
}

table
{
margin: auto;
width: 100%;
}
td
{
  text-align :center;
  
}
th{
  text-align :center;

}


.content-table {

  border-collapse: collapse;
  
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #85bb25;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  
}
.aa{
  color: #000;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #85bb25;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

* {
  font-family: sans-serif; 
}
.app {
  background-color: #252d4a;
  min-width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}



.signin {
  border-radius: 5px;
  max-width: 700px;
  height:400px ;
  margin-left: 32em;
  margin-top: 5em;
  padding-top:5em ;
  padding-left: 1em;
  padding-right: 1em;
  background-color: whitesmoke;
  margin-bottom:4.3em;
}

.loginbutton{
  background-color: #85bb25;
  text-decoration-color: white;
}



.card {
  max-width: 900px;
  min-height:600px ;
  text-align: center;
  margin-left: 25em;
  margin-top: 8em;
  padding: 30px 30px;
  align-items: center;
  background-color: #161A31;
  margin-bottom: 5.3em;
}

input[type=radio] {
  border: 0px;
  min-width: 0.75em;
  min-height: 0.75em;
  margin-right: 20px;
}

.option{
  display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: 0.3s;
    font-size: 1em;
    margin-top: 30px;
    cursor: pointer;
}
.option:hover{
  color: white;
  background-color: #4c5353;
}

.quizbutton{
    border: 0px  #85bb25;
    padding-left: 50px;
    color: white;
    background-color: #85bb25;
    width:200px;
    height: 40px;
    margin-left: 30px;
    margin-top: 320px;
}

.quizbutton1{
  border: 0px  #85bb25;
  padding-left: 70px;
  color: white;
  background-color: #85bb25;
  width:200px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.quizbutton2{
  border: 0px  #85bb25;
  padding-left: 60px;
  color: white;
  background-color: #85bb25;
  width:200px;
  height: 40px;
  margin-left: 770px;
  margin-top: 450px;
}

.quizbutton2:hover{
  color: #85bb25;
  background-color: white;

}

.quizbutton1:hover{
  color: #85bb25;
  background-color: white;

}


.quizbutton:hover{
  color: #85bb25;
  background-color: white;

}

.stepsbutton{
  size: 10px;
  border: 1px solid #616A94;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    color: #616A94;
    background-color: #161A31;
    transition: 0.3s;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    width:auto;
    margin-top: 1em;
    ;
}

.wrong{
  color: red;
}

.white{
  color: white;
}

.ab{
  color:#14201e;
  margin-top: 30px;
  
}

.stepsbutton:hover{
  color: white;
  background-color: #616A94;

}

.question{
  font-size: 30px; 
  letter-spacing: -1px; 
  color: #DFBF84; 
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #000; 
  margin: 10px 0 24px; 
  text-align: center; 
  line-height: 50px;
}

.ques{ 
  color: #ffffff; 
  font-family: 'Raleway',sans-serif; 
  font-size: 20px; 
  font-weight: 900; 
  text-align: center; 
  text-transform: uppercase;
}

.titlequiz{ 
  color: #14201e; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 50px; 
  font-weight: bold; 
  line-height: 1;
}

.circle {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color:#85bb25 ;
  font-size: 32px;
  margin-top: 30px;
  margin-left: 20px;
  background-color: #14201e;
}


.titlequiz1{ 
  
  margin-top: 35px;
  color: #14201e; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px; 
  line-height: 1;
  padding: auto;
  
  
}
  




label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}
