.sidebar {
    flex: 1; 
    min-height: 900px;
    background-color: #363636;
  }
  
  .sidebarWrapper {
    color: white;
  }
  
  .sidebarTitle {
    font-size: 20px;
    color: grey;
    padding: 20px;
  }
  
  .sidebarList {
    padding: 10px;
  }
  
  .sidebarListItem {
    padding: 5px;
    display: flex;
    align-items: center;
    
  }

  .sidebarListItem1 {
    padding: 15px;
    display: flex;
    font-size: 17px;
    color: grey;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: grey;
  }
  
  .sidebarIcon{
      margin-right: 5px;
  }